.profile {
  .profile-container {
  }

  .profile-paragraph {
    margin-bottom: 10px;
  }

  .profile-heading {
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  .profile-list {
    padding-left: 20px;
    margin-bottom: 15px;
  }
}